.admin {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #31495e;

  .button {
    background-color: #535456;
    font-style: normal;
    text-decoration: none;
    color: white;
    padding: 14px 20px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateY(5px);
    }
  }


  .header {
    height: 80px;
    background-color: #333435;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    .logo {
      color: white;
    }

    .nav {

      a {
        margin: 0 0 0 10px;
      }
    }

  }

  .content {
    flex-grow: 1;
    align-items: stretch;

    display: flex;
    height: 0;

    .bigitem {
      overflow-y: scroll;
      scrollbar-width: none;
      padding: 10px;
      flex-grow: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .list {
      overflow-y: auto;
      scrollbar-width: none;
      padding: 10px;
      border-left: 10px solid #333435;

      width: 30%;
      flex: 0 1 auto;
      min-height: 0px;

      &::-webkit-scrollbar {
        display: none;
      }

      .item {
        color: #c4c4c4;
        font-size: 24px;
        margin-bottom: 20px;



        .short {
          display: flex;
          flex-wrap: nowrap;

          cursor:pointer;

          :first-child {
            flex-grow: 1;
          }
        }

        .questions {
          .question {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 10px;
            :first-child {
              flex-grow: 1;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    background-color: #333435;
    height: 160px;
    padding: 0 40px;
    justify-content: space-between;

    .score {

      color: white;
      font-size: 50px;
    }

    .state {
      flex-grow: 1;

      font-size: 50px;
      color: white;
      text-align: center;
    }

    .timer {
      .time {
        color: white;
        font-size: 50px;
      }
    }

    .next {
      font-size: 50px;
      margin: 0 0 0 40px;
    }
  }
}