@import "./Common.scss";

$baseTextColor: #c4c4c4;

.admin {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #31495e;

  .header {
    height: 80px;
    background-color: #333435;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    .logo {
      color: white;
    }

    .token {
      color: white;
    }

    .nav {
      display: flex;
      a {
        margin: 0 0 0 10px;
      }
    }

  }

  .content {
    flex-grow: 1;
    align-items: stretch;

    display: flex;
    height: 0;

    .bigitem {
      color: $baseTextColor;

      overflow-y: scroll;
      scrollbar-width: none;
      flex-grow: 1;

      &::-webkit-scrollbar {
        display: none;
      }

      .biginfo {
        padding: 10px;
        border-bottom: 5px solid #333435;
      }

      .bigquestion {
        padding: 10px;

        img, video {
          max-width: 400px;
        }


        .question {
          div:first-child {

          }

          div:not(:first-child) {
            font-size: 40px;
          }
        }

        .answer {

        }
      }
    }


    .rightPanel {
      border-left: 10px solid #333435;

      width: 30%;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .list {
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }

        padding: 10px;

        flex: 0 1 auto;
        min-height: 0;

        .item {
          color: $baseTextColor;
          font-size: 24px;
          margin-bottom: 20px;


          .short {
            display: flex;
            flex-wrap: nowrap;

            cursor: pointer;

            :first-child {
              flex-grow: 1;
            }
          }

          .questions {
            .question {
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              padding: 10px;

              :first-child {
                flex-grow: 1;
              }
            }
          }
        }
      }

      .scoreControl {
        color: $baseTextColor;
        border-top: 10px solid #333435;

        padding: 10px;

        .control {
          text-align: center;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          div {
            margin: 0 10px;
          }
          div:last-child {

            display: flex;
            justify-content: center;
            align-items: center;
          }
          .button {
            height: 30px;
            width: 30px;

            padding: 0;
          }
        }

      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    background-color: #333435;
    height: 160px;
    padding: 0 40px;
    justify-content: space-between;

    .score {

      color: white;
      font-size: 50px;
    }

    .state {
      flex-grow: 1;

      font-size: 50px;
      color: white;
      text-align: center;
    }

    .timer {
      .time {
        text-align: center;
        color: white;
        font-size: 50px;
      }

      .button {
        min-width: 105px;
      }
    }

    .next {
      font-size: 50px;
      margin: 0 0 0 40px;
    }
  }
}