@import "./Common.scss";

.view {
  height: 100%;
  background-color: #333435;

  display: flex;
  flex-direction: column;


  .content {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .message {
      width: 100%;

      p {
        margin: auto;
        color: $baseTextColor;
        font-size: 50px;
        white-space: pre-wrap;
        text-align: center;
      }

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      audio {

      }

      video {
        height: 100%;
        width: 100%;
      }
    }

    .score {
      color: $baseTextColor;
      text-align: center;
      font-size: 30vw;
      margin-top: 25px;
      font-weight: bold;
    }
  }

}
