@import "src/Colors";


.media {
  img {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }

  audio {
    padding: 10px;
    height: 100%;
    min-height: 50px;
    display: block;
  }

  video {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 300px;
  }
}

.type {
  font-size: 40px;
}

.players {
  flex-direction: row;

  :not(:last-child) {
    margin-bottom: 0;
  }
}

.player {
  overflow: visible;
  background-color: $baseBackgroundButton;
  margin: 0 10px;

  min-width: 150px;
  min-height: 80px;

  &.selected {
    background-color: $baseBackgroundSelect !important;
    color: $baseTextColorSelect;
  }

  &.active {
    cursor: pointer;
    &:active {
      transform: translateY(5px);
    }
  }
}

.bet {
  margin-left: 40px;
  max-width: 200px;
}

.balanceControl {
  padding: 10px;

  .name {
    font-size: 26px;
  }

  .save {
    font-size: 26px;
  }

  >:not(:last-child) {
    margin-bottom: 16px;
  }
}
