@import "../Common.scss";

.admin {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $baseBackground;

  .header {
    height: 80px;
    background-color: $baseBackgroundDark;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    .logo {
      color: white;
    }

    .token {
      font-size: 30px;
      color: white;
    }

    .state {
      font-size: 30px;
      color: white;
      text-align: center;
    }

    .nav {
      display: flex;
      align-items: center;
      a {
        margin: 0 0 0 10px;
      }

      .mute {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

  }

  .content {
    flex-grow: 1;
    align-items: stretch;

    display: flex;
    height: 0;

    .item {
      color: $baseTextColor;

      overflow-y: scroll;
      scrollbar-width: none;
      flex-grow: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }


    .rightPanel {
      border-left: 10px solid $baseBackgroundDark;

      width: 25%;
      min-width: 25%;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .balanceControl {
        color: $baseTextColor;
        padding: 16px;

        .name {
          font-size: 26px;
        }

        .save {
          font-size: 26px;
        }

        >:not(:last-child) {
          margin-bottom: 16px;
        }

      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    background-color: $baseBackgroundDark;
    height: 160px;
    padding: 0 40px;
    justify-content: space-between;

    .players {
      display: flex;
      flex-direction: row;

      .player {
        margin: 0 5px;
        min-width: 12vw;

        :first-child {
          font-weight: bold;
          font-size: 30px;
        }
      }
    }

    .next {
      font-size: 50px;
      margin: 0 0 0 40px;
    }

  }
}