@import './Shake.scss';

$baseBackgroundDark: #333435;
$baseBackground: #31495e;
$baseTextColor: #c4c4c4;

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #535456;
  font-style: normal;
  text-decoration: none;
  color: white;
  padding: 14px 20px;

  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(5px);
  }

  &.loading {
    @include do-shake();
  }

  &.selected {
    border: 4px solid #b68f42;
  }
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #535456;
  font-style: normal;
  color: white;
  padding: 14px 20px;
  font-size: 20px;
  outline: none;

  &[type='number'] {
    -moz-appearance:textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.loadingScreen {
  width: 100%;
  height: 100%;
  background-color: $baseBackground;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  color: $baseTextColor;
}